@import 'variable.css';
.table-header {
    max-width: 1100px;
    margin: auto;
    background-color: var(--section-gray);
    font-family: var(--main-font);
}

.field-name {
    text-align: center;
    /* border-style: solid; */

}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  #add-dh {
    width: 100%;
    background-color: var(--section-blue);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-bottom: 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
#add-dh:hover {
    background-color: var(--section-blue);
  }
  
  /* div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */