/* main stylesheet for the application */
@import "./variable.css";

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#1663ba), to(#0e349c));
    background-image: -webkit-linear-gradient(-45deg, #1663ba, #0e349c);
    font-family: monospace !important;
    text-decoration: var(--main-text);
}

section:nth-of-type(4n+1) {
    background-color: var(--section-blue);
}

section:nth-of-type(4n+2) {
    background-color: var(--section-gray);

}

section:nth-of-type(4n+3) {
    background-color: var(--section-blue);

}

section:nth-of-type(4n+4) {
    background-color: var(--section-gray)
}

.nav-bar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 10vh;
    overflow: hidden;
}

.nav-bar li {
    margin: 0;
    padding: 0;
    float: left;
    line-height: 5;
    /* border:  solid blue; */
}

.nav-bar li a:hover
a:active {
    background-color: var(--secondary-text);
    color: var(--primary-text);
    padding-left: 0;
    padding-right: 0;
}

.nav-bar li a {
    padding: 0;
    margin: 0;
    color: var(--main-text);
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 25px;

    align-items: center;
}

